* {
	/*border: 1px solid red;*/
	font-family: sans-serif;
}

a, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}

.banner-links span a:hover {
	color: red;
}

/*a:hover {
	color: red;
}*/

.header .head-banner {
	display: flex;
	justify-content: space-between;
	height: 50px;
	color: white;
	background-color: #1f2937;
	padding: 5px;
	align-items: center;
}

.header .head-banner .banner-links {
	margin-right: 100px;
	display: flex;
	gap: 20px;
}

.header .head-banner .logo {
	margin-left: 100px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 15px;
}

.header .head-banner .logo img {
	width: 30px;
}

.banner-links span {
	font-size: 15px;
	font-weight: bold;
}

.header .header-content {
	height: 450px;
	color: white;
	background-color: #1f2937;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	padding: 25px;
}


.hp-photo img {
	min-width: 200px;
	max-width: 500px;
	/*margin-right: 100px; padding is 25px*/
	margin-right: 75px;
	border-radius: 20px;
}

.hp-photo img:hover {
	border: 1px solid grey;
}

.about .title {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	/*margin-left: 100px; padding is 25px*/
	margin-left: 75px;
}

.about .short-info {
	/*margin-left: 100px; padding is 25px*/
	margin-left: 75px;
	font-family: Verdana;
}

.stadium-info {
	display: flex;
	height: 45px;
	padding: 30px;
	justify-content: center;
	align-items: center;
	color: #1F2937;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;	
}

/*greatest stadium in the world*/
.greatest-stadium {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 400px;
	gap: 15px;
	
}

.greatest-stadium div img {
	width: 325px;
	border-radius: 25px;
}

.greatest-stadium div {
	width: 340px;
	margin-left: 10px;
}

.greatest-stadium div h4 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.greatest-stadium div p {
	font-size: 14px;
	padding: 10px;
}


/*quote section*/
#quote-section {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 36px;
	font-style: italic;
	height: 470px;
	padding: 40px;
	color: white;
	/*color: #1f2937;*/
	/*background-color: #e5e7eb;*/
	background-image: url(images/santiago-bernabeu.png);
	background-size: auto 470px;

}

#quote-section div {
	border: 1px solid white;
	border-radius: 20px;
	padding: 20px;
}

#quote-section div p {
	text-align: right;
	font-size: 24px;
}

#sign-up .sign-up-message {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	height: 100px;
	font-size: 24px;
	font-weight: bold;
	background-color: #3b82f6;
	/*padding: 20px;*/
	margin: 50px;
	border-radius: 10px;
	padding: 10px;
}

#sign-b {
	font-size: 16px;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	
}

#footer {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #1f2937;
	font-weight: bold;
	padding: 10px;
}

#footer p a:hover {
	color: red;
}